.formPopupModal {
    padding: 30px;
}

.fileInput :global(.ant-form-explain) {
    display: none;
}

.fileInput :global(.ant-tooltip) {
    display: none;
}

.uploadingFileModal :global(.ant-modal-footer) button {
    visibility: hidden;
}
