// COLORS
$color-primary: rgba(15, 255, 0, 0.32);
$color-orange: #fb6507;
$color-red: #fc0000;
$color-dark: #2a2b37;
$color-grey: #ced2d8;
$color-grey-table: #5e6e7b;
$color-grey-form-item: #e8eaf0;
$color-pale-grey: #dbdfe9;
$color-grey-blue: #959dac;
$color-background: #f2f6f8;
$color-pale-gray: #e8eaf0;
$color-disabled-background: #F3F6F8;
$color-pale_grey_two: #F0F2F9;
$color-white: #fff;
