@font-face {
  font-family: "museoSans_bold";
  src: url("./Museo Sans Cyrl 700.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "pfdisplay-Bold";
  src: url("./PFDinDisplayPro-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "pfdisplay-Medium";
  src: url("./PFDinDisplayPro-Medium.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pfdisplay-Regular";
  src: url("./PFDinDisplayPro-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pfdisplay-Light";
  src: url("./PFDinDisplayPro-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-regular", sans-serif;
  src: url("./PTSans-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
